.buttons{
  display: flex;
  justify-content: flex-end;
  margin: 24px 0px;
}
.clone{
  background: #1193FF;
  border-radius: 2px;
  width: 90px;
  height: 24px;
  line-height: 14px;
  font-size: 12px;
  color: #FFFFFF;
  margin-right: 26px;
}
.button{
  padding-right: 8px;
}