// EXAMPLE

// @font-face {
//   font-family: "AvenirNextCyrMedium";
//   src: url("/fonts/AvenirNextCyr/AvenirNextCyr-Medium.woff") format("woff");
//   font-weight: 500;
//   font-style: normal;
//   font-display: swap;
// }
