html,
body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  line-height: $line-height-base;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  margin: 0;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
}

h1,
.h1 {
  font-size: $font-size-h1;
  line-height: $line-height-h1;

  @include media-breakpoint-down(md) {
    font-size: $font-size-h1-md;
  }
  @include media-breakpoint-down(xs) {
    font-size: $font-size-h1-xs;
    line-height: $line-height-h1-xs;
  }
}

h2,
.h2 {
  font-size: $font-size-h2;
  line-height: $line-height-h2;
  font-weight: 500;

  @include media-breakpoint-down(xs) {
    font-size: $font-size-h2-xs;
    line-height: $line-height-h2-xs;
    font-weight: 400;
  }
}

h3,
.h3 {
  font-size: $font-size-h3;
  line-height: $line-height-h3;
  font-weight: $font-weight-regular;

  @include media-breakpoint-down(xs) {
    font-size: $font-size-h3-xs;
    line-height: $line-height-h3-xs;
  }
}

h4,
.h4 {
  font-size: $font-size-h4;
  line-height: $line-height-h4;
  font-weight: $font-weight-regular;

  @include media-breakpoint-down(xs) {
    font-size: $font-size-h4-xs;
    line-height: $line-height-h4-xs;
  }
}

h5,
.h5 {
  font-size: $font-size-h5;
  line-height: $line-height-h5;
  font-weight: $font-weight-regular;

  @include media-breakpoint-down(xs) {
    font-size: $font-size-h5-xs;
    line-height: $line-height-h5-xs;
  }
}

p {
  margin-top: $typography-margin-top;
  margin-bottom: $typography-margin-bottom;
}
