@import "/src/assets/styles/services";

.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 107px;
}
.title {
  margin-top: 60px;
  text-transform: uppercase;
  font-size: 24px;
  line-height: 36px;
  letter-spacing: 0.2em;
}
.text {
  margin: 24px 0 48px;
  text-align: center;
  max-width: 448px;
  font-size: 14px;
  line-height: 17px;
  color: #aeaeae;
}
