@import 'src/assets/styles/services';

.wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  padding: 40px 60px;
  opacity: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(#000, 0.3);
  overflow: auto;
  z-index: 100;
  .content {
    height: 100%;
  }

  &.notCentered {
    padding: 96px 0;
    align-items: flex-start;

    //@include media-breakpoint-down(xs) {
    //  padding: 20px;
    //}
  }

  &.noPadding {
    padding: 0;
  }

  &.noOverflow {
    overflow: unset;
  }

  &:global(.fadeIn) {
    animation-name: fadeIn;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
    opacity: 1;
  }

  &:global(.fadeOut) {
    animation-name: fadeOut;
    animation-duration: 0.3s;
    animation-iteration-count: 1;
  }

  //@include media-breakpoint-down(xs) {
  //  padding: 0;
  //}
}

.inner {
  position: relative;
  background: #2b2d2e;
  border-radius: 20px;
  padding: 40px 60px;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.08);
  min-width: 200px;
  //width: 686px;
  //height: 646px;

  //@include media-breakpoint-down(xs) {
  //  padding: 10px;
  //}
  &.light {
    background: $white;
  }
  &.noPadding {
    padding: 0;
  }

  &.noOverflow {
    overflow: unset;
  }

  .buttonCross {
    width: 56px;
    height: 56px;
    padding: 21px;
    transition: color 0.25s ease-in-out;

    //@include media-breakpoint-down(md) {
    //  width: 28px;
    //  height: 28px;
    //  padding: 7px;
    //  color: $c-blue;
    //
    //  &:hover {
    //    color: $c-blue-dark;
    //  }
    //}
  }
}

////.close {
////  position: absolute;
////  top: 29px;
////  right: 29px;
////  z-index: 1;
////  &>button{
////    color: $c-gray-dark;
////    &:hover{
////      color: $c-red;
////    }
////  }
//
//  .notCentered & {
//    //@include media-breakpoint-up(lg) {
//    //  top: 200px;
//    //  right: 100%;
//    //  display: flex;
//    //  align-items: center;
//    //  justify-content: center;
//    //  width: 56px;
//    //  height: 56px;
//    //  background-color: $c-gray-background;
//    //}
//  }
//
//  //@include media-breakpoint-down(xs) {
//  //  top: 10px;
//  //  right: 10px;
//  //}
//}

//.closeOld {
//  position: absolute;
//  top: 29px;
//  right: 29px;
//  z-index: 1;
//
//  &>button{
//    color: $c-blue;
//    &:hover{
//      color: $c-blue-dark;
//    }
//  }
//
//  @include media-breakpoint-down(xs) {
//    top: 10px;
//    right: 10px;
//  }
//}

.closeOut {
  top: -40px;
  right: -40px;
}

.closeIcon {
  height: 100%;
  width: 100%;
}

.closeBackground {
  background: $white;
}

.sizeCloseBtn {
  top: 40px;
  right: 40px;
  //@include media-breakpoint-down(md) {
  //  top: 16px;
  //  right: 16px;
  //}
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }

  0% {
    opacity: 1;
  }
}
