@use 'sass:math';

@function transition($param) {
  @return $param 0.3s ease-in-out;
}

@mixin remove-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

@keyframes loading {
  0% {
    opacity: 0.4;
  }

  50% {
    opacity: 0.7;
  }

  100% {
    opacity: 0.4;
  }
}

@mixin responsive-ratio($x, $y) {
  padding-top: unquote(math.div($y, $x) * 100 + "%");
}
