.root {
  border-collapse: collapse;
  width: 100%;
}

.headerItem {
  padding: 16px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  background-color: #0A508B;
  color: #FFFFFF;

}

.row {
  color: #868A8D;
  box-shadow: 0px 1px 0px #EBEBEB;
  //&.isOdd {
  //  background-color: gray;
  //}
}

.cell {
  border-right: 1px solid #EBEBEB;
  padding: 16px;
  &:last-child{
    border-right: none;
  }
}
