.main{
  width: 280px;
  height: 318px;
  display: flex;
  flex-direction: column;
  padding: 15px;

  .input{
    padding: 0px 14px;
    width: 248px;
    height: 42px;
    background: #FFFFFF;
    border: 1px solid #E6ECEF;
    box-sizing: border-box;
    border-radius: 4px;
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px 16px 0px;
    font-size: 12px;
    line-height: 14px;
    color: #868A8D;
   &:focus::-webkit-input-placeholder { color:transparent; }
  }
  .select {
    margin: 0px 0px 16px 0px;
    width: 248px;
    height: 42px;
  }
  .btn{
    width: 248px;
    height: 42px;
    background: #1493FE;
    border-radius: 4px;
    &.disable{
      background: #C2CBD1;
    }
  }
}
